@import '../../../global.scss';

.date-picker {
  background-color: white;
  &--tile {
    position: relative;
    width: 40px;
    min-height: 32px !important;
    &:hover:before {
      width: 50%;
    }
    &:before {
      @include transition(width, 0.15s, ease-in-out);
      content: '';
      left: 0%;
      bottom: 0px;
      width: 0%;
      height: 4px;
      position: absolute;
      border-bottom: 4px solid $color-primary;
    }
    &-other {
      width: 40px;
      min-height: 32px !important;
      color: #00000050;
    }
    &-selected {
      color: white;
      background-color: $color-primary;
    }
    &-time {
      &--input {
        max-width: 24px;
      }
    }
  }
}
