<div
  class="flex flex-justify-center flex-align-center icon-button-primary margin-bottom-16"
>
  <div class="flex flex-justify-center width-33">
    <mat-icon (click)="prevMonth()" class="margin-right-8"
      >keyboard_arrow_left</mat-icon
    >
  </div>
  <div class="flex flex-justify-center width-33">
    <b>{{ monthText }}</b
    >&nbsp;{{ activeYear }}
  </div>
  <div class="flex flex-justify-center width-33">
    <mat-icon (click)="nextMonth()" class="margin-left-8"
      >keyboard_arrow_right</mat-icon
    >
  </div>
</div>
<mat-grid-list cols="7" rowHeight="30px" class="margin-bottom-16">
  <mat-grid-tile *ngFor="let day of dayStrings" colspan="1" rowspan="1"
    ><div class="flex flex-align-center height-100 color-primary">
      <b>{{ day }}</b>
    </div></mat-grid-tile
  >
  <mat-grid-tile
    *ngFor="let prevMonthDay of prevMonthDays; let i = index"
    colspan="1"
    rowspan="1"
  >
    <div
      class="date-picker--tile-other flex flex-justify-center flex-align-center height-100"
    >
      {{ prevMonthDay }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let monthDay of getMonthLength(activeMonthLength); let i = index"
    colspan="1"
    rowspan="1"
  >
    <div
      [ngClass]="{
        'color-primary font-size-18':
          i + 1 !== selectedDay &&
          i + 1 === currentDay &&
          activeMonth === currentMonth &&
          activeYear === currentYear,
        'date-picker--tile-selected':
          i + 1 === selectedDay &&
          activeMonth === selectedMonth &&
          activeYear === selectedYear
      }"
      (click)="onSetDate(i + 1)"
      class="date-picker--tile flex flex-justify-center flex-align-center height-100 hover width-100"
    >
      <b>{{ i + 1 }}</b>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let nextMonthDay of getMonthLength(nextMonthLength); let i = index"
    colspan="1"
    rowspan="1"
  >
    <div
      class="date-picker--tile-other flex flex-justify-center flex-align-center height-100"
    >
      {{ i + 1 }}
    </div>
  </mat-grid-tile>
</mat-grid-list>
