<div class="header flex flex-row flex-justify-between flex-align-center">
  <div class="flex flex-row flex-align-center margin-left-16">
    <div class="flex flex-align-center icon-button-primary margin-right-16">
      <mat-icon (click)="prevMonth()" class="margin-right-8"
        >keyboard_arrow_up</mat-icon
      >
      <mat-icon (click)="nextMonth()">keyboard_arrow_down</mat-icon>
    </div>
    <div>
      <b>{{ monthText }}</b> {{ yearMonth.year }}
    </div>
  </div>
  <div class="margin-right-16">
    <div class="flex flex-align-center icon-button-primary">
      <mat-icon (click)="onCreateAppointment()" class="margin-right-8"
        >add</mat-icon
      >
      <mat-icon (click)="showCalendarAgenda()" class="margin-right-8"
        >view_module</mat-icon
      >
      <mat-icon (click)="showCalendarList()">view_list</mat-icon>
    </div>
  </div>
</div>
<app-calendar-agenda
  *ngIf="stateView === 'agenda'"
  [appointments]="appointments.appointments"
  [currentMonth]="currentMonth"
  [currentYear]="currentYear"
  [date]="date"
></app-calendar-agenda>
<app-calendar-list
  *ngIf="stateView === 'list'"
  [appointments]="appointments.appointments"
  [currentMonth]="currentMonth"
  [currentYear]="currentYear"
  [date]="date"
>
</app-calendar-list>
