@import '../../../global.scss';

.calendar {
  &--content {
    &-other {
      color: #00000050;
    }
  }
  &--header {
    border-bottom: 1px solid #0000000a;
  }
  &--title {
    color: #777777;
  }
}

figure {
  display: block !important;
}
