<div class="flex flex-column flex-align-center">
  <div
    class="appointment-create-edit--header flex flex-justify-between flex-align-center margin-16 padding-bottom-16"
  >
    <div
      class="appointment-create-edit--header-container flex flex-align-center icon-button-primary"
    >
      <mat-icon (click)="onGoBack()">arrow_back</mat-icon>
    </div>
    <div class="appointment-create-edit--header-title color-primary">
      <b>{{ !appointment ? 'Termin erstellen' : 'Termin bearbeiten' }}</b>
    </div>
    <div class="appointment-create-edit--header-container"></div>
  </div>
  <div
    class="appointment-create-edit--content flex flex-justify-center margin-x-16"
  >
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="appointment-create-edit--form"
    >
      <div class="flex flex-row flex-wrap margin-bottom-8">
        <div
          class="appointment-create-edit--form-date flex flex-column margin-bottom-8"
        >
          <div class="font-size-12 margin-bottom-4">
            <b>Start</b>
          </div>
          <div
            class="flex flex-row flex-justify-between flex-align-center font-size-14 icon-button-primary"
          >
            <div
              class="flex flex-align-center input-form margin-right-8 width-100"
            >
              {{ formGroup.controls.dateStart.value }}
            </div>
            <mat-icon
              (click)="onClickDateTimePicker('dateStart')"
              class="font-size-20"
              >calendar_today</mat-icon
            >
          </div>
        </div>
        <div
          class="appointment-create-edit--form-date flex flex-column margin-bottom-8"
        >
          <div class="font-size-12 margin-bottom-4">
            <b>Ende</b>
          </div>
          <div
            class="flex flex-row flex-justify-between flex-align-center font-size-14 icon-button-primary"
          >
            <div
              class="flex flex-align-center input-form margin-right-8 width-100"
            >
              {{ formGroup.controls.dateEnd.value }}
            </div>
            <mat-icon
              (click)="onClickDateTimePicker('dateEnd')"
              class="font-size-20"
              >calendar_today</mat-icon
            >
          </div>
        </div>
        <div
          class="appointment-create-edit--form-textarea flex flex-column margin-bottom-8"
        >
          <div class="font-size-12 margin-bottom-4">
            <b>Titel</b>
          </div>
          <div
            class="flex flex-row flex-justify-between flex-align-center font-size-14 icon-button-primary"
          >
            <input formControlName="title" class="input-form" />
          </div>
        </div>
        <div
          class="appointment-create-edit--form-textarea flex flex-column margin-bottom-8"
        >
          <div class="font-size-12 margin-bottom-4">
            <b>Beschreibung</b>
          </div>
          <div
            class="flex flex-row flex-justify-between flex-align-center font-size-14 icon-button-primary"
          >
            <input formControlName="description" class="input-form" />
          </div>
        </div>
        <div
          class="appointment-create-edit--form-textarea flex flex-column margin-bottom-8"
        >
          <div class="font-size-12 margin-bottom-4">
            <b>Ort</b>
          </div>
          <div
            class="flex flex-row flex-justify-between flex-align-center font-size-14 icon-button-primary"
          >
            <input formControlName="place" class="input-form" />
          </div>
        </div>
      </div>
      <div class="flex flex-justify-center">
        <button type="submit" class="button">
          {{ !appointment ? 'Termin erstellen' : 'Termin bearbeiten' }}
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="statePick" class="modal">
  <div
    (click)="onCloseDateTimePicker()"
    class="modal-background"
    [@modalEnterBackground]="stateAnim ? true : false"
  ></div>
  <app-date-time-picker
    [type]="statePick"
    (closeDateTimePicker)="onCloseDateTimePicker()"
    (setDate)="onSetDate($event)"
    class="modal-content"
    [@modalEnterContent]="stateAnim ? true : false"
  >
  </app-date-time-picker>
</div>
