<div class="margin-8">
  <div *ngFor="let appointment of activeAppointments; let i = index">
    <app-calendar-list-item
      [appointment]="appointment"
      [currentDay]="currentDay"
      [currentMonth]="currentMonth"
      [currentYear]="currentYear"
      [ngClass]="{ 'margin-bottom-16': i < activeAppointments.length }"
      class="display-block"
    ></app-calendar-list-item>
  </div>
  <div *ngIf="activeAppointments.length < 1" class="font-size-14">
    Keine Termine vorhanden.
  </div>
</div>
