<div class="flex flex-column">
  <div class="flex flex-row">
    <div class="calendar-day-item--content flex flex-column">
      <div class="font-size-16 margin-y-4">
        <a
          [routerLink]="['edit', appointment.id]"
          routerLinkActive="active"
          class="text-decoration-none text-hover-primary"
          ><b>{{ appointment.title }}</b></a
        >
      </div>
      <div class="font-size-13 margin-bottom-8">
        {{ timeStart }} - {{ timeEnd }}
      </div>
      <div
        class="flex flex-align-center icon-primary icon-size-20 margin-bottom-4"
      >
        <mat-icon class="margin-right-4">room</mat-icon>
        <div class="font-size-14">{{ appointment.place }}</div>
      </div>
      <div class="flex flex-align-center font-size-14">
        {{ appointment.desc }}
      </div>
    </div>
  </div>
</div>
