@import '../../../global.scss';

.calendar-list-item {
  &--content {
    width: calc(100% - 64px - 16px - 8px - 16px);
    &-time {
      color: #0000009f;
    }
  }
  &--day {
    width: 64px;
  }
}
