<div class="flex flex-column">
  <div class="flex flex-row">
    <div class="flex flex-column margin-right-8">
      <div
        [ngClass]="{ 'color-primary': appointment.day === date }"
        class="calendar-list-item--day flex flex-justify-center font-size-18 margin-bottom-8"
      >
        <b>{{ appointment.day }}</b>
      </div>
      <div class="flex flex-justify-center font-size-14 margin-bottom-8">
        {{ day }}
      </div>
    </div>

    <div class="calendar-list-item--content flex flex-column">
      <div class="color-primary font-size-14 margin-y-4">
        <b>{{ appointment.title }}</b>
      </div>
      <div
        class="calendar-list-item--content-time font-size-14 margin-bottom-8"
      >
        {{ timeStart }} - {{ timeEnd }}
      </div>
      <div class="font-size-14">{{ appointment.place }}</div>
      <div class="font-size-14">{{ appointment.desc }}</div>
    </div>
  </div>
</div>
