<div
  class="time-picker flex flex-column flex-justify-center flex-align-center margin-bottom-16"
>
  <ng-container *ngIf="stateTimePicker === 'hour'">
    <div class="time-picker--clock-outer flex">
      <div
        *ngFor="let viewHourOuter of viewHoursOuter; let i = index"
        [ngClass]="{
          'time-picker--clock-active': hour === viewHourOuter
        }"
        (click)="onClickHour(viewHourOuter)"
        class="time-picker--clock-outer--item"
      >
        {{ viewHourOuter }}
      </div>
    </div>
    <div class="time-picker--clock-inner">
      <div
        *ngFor="let viewHourInner of viewHoursInner"
        [ngClass]="{
          'time-picker--clock-active': hour === viewHourInner
        }"
        (click)="onClickHour(viewHourInner)"
        class="time-picker--clock-outer--item"
      >
        {{ viewHourInner }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="stateTimePicker === 'minute'">
    <div class="time-picker--clock-outer flex">
      <ng-container *ngFor="let viewMinute of viewMinutes; let i = index">
        <div
          *ngIf="i % 5 === 0"
          [ngClass]="{
            'time-picker--clock-outer--item-active': minute === i
          }"
          (click)="onClickMinute(i)"
          class="time-picker--clock-outer--item"
        >
          {{ i }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
