<div
  class="time-picker flex flex-column flex-justify-center flex-align-center margin-bottom-16"
>
  <ng-container *ngIf="stateTimePicker === 'hour'">
    <div class="time-picker--clock-outer flex">
      <div
        *ngFor="let viewHourOuter of viewHoursOuter"
        [ngClass]="{
          'time-picker--clock-active': hourView === viewHourOuter
        }"
        (click)="onSetHour(viewHourOuter)"
        class="time-picker--clock-outer--item"
      >
        {{ viewHourOuter }}
      </div>
    </div>
    <div class="time-picker--clock-inner">
      <div
        *ngFor="let viewHourInner of viewHoursInner"
        [ngClass]="{
          'time-picker--clock-active': hour === viewHourInner
        }"
        (click)="onSetHour(viewHourInner)"
        class="time-picker--clock-outer--item"
      >
        {{ viewHourInner }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="stateTimePicker === 'minute'">
    <div class="time-picker--clock-outer flex">
      <div
        *ngFor="let viewMinute of viewMinutes"
        [ngClass]="{
          'time-picker--clock-active': minute === viewMinute
        }"
        (click)="onSetMinute(viewMinute)"
        class="time-picker--clock-outer--item"
      >
        {{ viewMinute }}
      </div>
    </div>
  </ng-container>
</div>
