<div
  class="time-picker flex flex-column flex-justify-center flex-align-center margin-bottom-16"
>
  <div class="time-picker--clock-outer flex">
    <div class="time-picker--clock-outer--item">12</div>
    <div class="time-picker--clock-outer--item">1</div>
    <div class="time-picker--clock-outer--item">2</div>
    <div class="time-picker--clock-outer--item">3</div>
    <div class="time-picker--clock-outer--item">4</div>
    <div class="time-picker--clock-outer--item">5</div>
    <div class="time-picker--clock-outer--item">6</div>
    <div class="time-picker--clock-outer--item">7</div>
    <div class="time-picker--clock-outer--item">8</div>
    <div class="time-picker--clock-outer--item">9</div>
    <div class="time-picker--clock-outer--item">10</div>
    <div class="time-picker--clock-outer--item">11</div>
  </div>
  <div class="time-picker--clock-inner">
    <div class="time-picker--clock-inner--item">0</div>
    <div class="time-picker--clock-inner--item">13</div>
    <div class="time-picker--clock-inner--item">14</div>
    <div class="time-picker--clock-inner--item">15</div>
    <div class="time-picker--clock-inner--item">16</div>
    <div class="time-picker--clock-inner--item">17</div>
    <div class="time-picker--clock-inner--item">18</div>
    <div class="time-picker--clock-inner--item">19</div>
    <div class="time-picker--clock-inner--item">20</div>
    <div class="time-picker--clock-inner--item">21</div>
    <div class="time-picker--clock-inner--item">22</div>
    <div class="time-picker--clock-inner--item">23</div>
  </div>
</div>
