<div class="datetime-picker padding-16">
  <div
    class="flex flex-justify-between flex-align-center icon-button-primary margin-bottom-16"
  >
    <div class="color-primary">
      <b>{{
        type === 'dateStart'
          ? 'Startdatum auswählen'
          : 'Enddatum
        auswählen'
      }}</b>
    </div>
    <mat-icon (click)="onCloseDateTimePicker()">close</mat-icon>
  </div>
  <div
    *ngIf="selectedDate"
    class="flex flex-justify-center color-primary font-size-18 margin-bottom-4"
  >
    <b>{{ selectedDate }}</b>
  </div>
  <div
    *ngIf="time"
    class="flex flex-justify-center color-primary font-size-14 margin-bottom-16"
  >
    <b>{{ time }}</b>
  </div>
  <div
    class="flex flex-justify-center flex-align-center icon-button-primary margin-bottom-16"
  >
    <mat-icon (click)="prevMonth()" class="margin-right-8"
      >keyboard_arrow_left</mat-icon
    >
    <div>
      <b>{{ monthText }}</b> {{ activeYear }}
    </div>
    <mat-icon (click)="nextMonth()" class="margin-left-8"
      >keyboard_arrow_right</mat-icon
    >
  </div>
  <mat-grid-list cols="7" [rowHeight]="rowHeight" class="margin-bottom-16">
    <mat-grid-tile *ngFor="let day of dayStrings" colspan="1" rowspan="1"
      ><div class="flex flex-align-center height-100 color-primary">
        <b>{{ day }}</b>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      *ngFor="let prevMonthDay of prevMonthDays; let i = index"
      colspan="1"
      rowspan="1"
    >
      <div
        class="datetime-picker--tile-other flex flex-justify-center flex-align-center height-100"
      >
        {{ prevMonthDay }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let monthDay of getMonthLength(activeMonthLength); let i = index"
      colspan="1"
      rowspan="1"
    >
      <div
        [ngClass]="{
          'color-primary font-size-18':
            i + 1 !== selectedDay &&
            i + 1 === currentDay &&
            activeMonth === currentMonth &&
            activeYear === currentYear,
          'datetime-picker--tile-selected':
            i + 1 === selectedDay &&
            activeMonth === selectedMonth &&
            activeYear === selectedYear
        }"
        (click)="onSelectDay(i + 1)"
        class="datetime-picker--tile flex flex-justify-center flex-align-center height-100 hover width-100"
      >
        <b>{{ i + 1 }}</b>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="
        let nextMonthDay of getMonthLength(nextMonthLength);
        let i = index
      "
      colspan="1"
      rowspan="1"
    >
      <div
        class="datetime-picker--tile-other flex flex-justify-center flex-align-center height-100"
      >
        {{ i + 1 }}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div
    class="flex flex-justify-between flex-align-center margin-left-16 margin-right-16 margin-bottom-32"
  >
    <div class="font-size-14">Uhrzeit</div>
    <div class="flex flex-align-center">
      <input
        maxLength="2"
        [value]="hour"
        (input)="onInputTimeHourChange($event.target.value)"
        class="datetime-picker--tile-time--input input-form"
      />
      <div>:</div>
      <input
        maxLength="2"
        [value]="minute"
        (input)="onInputTimeMinuteChange($event.target.value)"
        class="datetime-picker--tile-time--input input-form margin-right-8"
      />
      <mat-select
        [value]="time"
        (selectionChange)="onSelectTimeChange($event.value)"
      >
        <mat-option *ngFor="let timeString of timeStrings" [value]="timeString">
          {{ timeString[0] + ':' + timeString[1] }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="flex flex-justify-center">
    <button (click)="onSelectDate()" class="button">
      Datum auswählen
    </button>
  </div>
</div>
