<div class="datetime-picker padding-16">
  <div
    class="flex flex-justify-between flex-align-center icon-button-primary margin-bottom-16"
  >
    <div class="color-primary">
      <b>{{
        type === 'dateStart'
          ? 'Startdatum auswählen'
          : 'Enddatum
        auswählen'
      }}</b>
    </div>
    <mat-icon (click)="onCloseDateTimePicker()">close</mat-icon>
  </div>
  <div
    *ngIf="activeDate"
    class="flex flex-justify-center font-size-18 margin-bottom-16"
  >
    <b>{{ activeDate }}</b>
  </div>
  <div
    class="flex flex-align-center icon-button-primary margin-bottom-16 width-100"
  >
    <div
      [ngClass]="{ 'datetime-picker--active': statePicker === 'date' }"
      class="flex flex-justify-center width-33"
    >
      <mat-icon (click)="onShowDatePicker()">calendar_today</mat-icon>
    </div>
    <div class="flex flex-justify-center width-33">
      <b>{{ time }}</b>
    </div>
    <div
      [ngClass]="{ 'datetime-picker--active': statePicker === 'time' }"
      class="flex flex-justify-center width-33"
    >
      <mat-icon (click)="onShowTimePicker()">access_time</mat-icon>
    </div>
  </div>
  <app-date-picker
    *ngIf="statePicker === 'date'"
    [selectedDate]="selectedDate"
    (selectDate)="onSelectDate($event)"
  ></app-date-picker>
  <app-time-picker
    *ngIf="statePicker === 'time'"
    [selectedTime]="selectedTime"
    (selectTime)="onSelectTime($event)"
  ></app-time-picker>
  <div class="flex flex-justify-center">
    <button (click)="onSelectDateTime()" class="button">
      Datum und Zeit auswählen
    </button>
  </div>
</div>
