<div class="datetime-picker padding-16">
  <div
    class="flex flex-justify-between flex-align-center icon-button-primary margin-bottom-16"
  >
    <div class="color-primary">
      <b>{{
        type === 'dateStart'
          ? 'Startdatum auswählen'
          : 'Enddatum
        auswählen'
      }}</b>
    </div>
    <mat-icon (click)="onCloseDateTimePicker()">close</mat-icon>
  </div>
  <div
    *ngIf="activeDate"
    class="flex flex-justify-center color-primary font-size-18 margin-bottom-4"
  >
    <b>{{ activeDate }}</b>
  </div>
  <div
    *ngIf="time"
    class="flex flex-justify-center color-primary font-size-14 margin-bottom-16"
  >
    <b>{{ time }}</b>
  </div>
  <app-date-picker
    [selectedDate]="selectedDate"
    (selectDate)="onSelectDate($event)"
  ></app-date-picker>
  <div
    class="flex flex-justify-between flex-align-center margin-left-16 margin-right-16 margin-bottom-32"
  >
    <div class="font-size-14">Uhrzeit</div>
    <div class="flex flex-align-center">
      <input
        maxLength="2"
        [value]="hour"
        (input)="onInputTimeHourChange($event.target.value)"
        class="datetime-picker--tile-time--input input-form"
      />
      <div>:</div>
      <input
        maxLength="2"
        [value]="minute"
        (input)="onInputTimeMinuteChange($event.target.value)"
        class="datetime-picker--tile-time--input input-form margin-right-8"
      />
      <mat-select
        [value]="time"
        (selectionChange)="onSelectTimeChange($event.value)"
      >
        <mat-option *ngFor="let timeString of timeStrings" [value]="timeString">
          {{ timeString[0] + ':' + timeString[1] }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="flex flex-justify-center">
    <button (click)="onSelectDateTime()" class="button">
      Datum auswählen
    </button>
  </div>
</div>
