<div class="padding-16">
  <mat-grid-list cols="7" [rowHeight]="rowHeight">
    <mat-grid-tile colspan="1" rowspan="1"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Mo
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Di
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Mi
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Do
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Fr
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        Sa
      </div></mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      ><div
        class="calendar-agenda--title flex flex-justify-center flex-align-center"
      >
        So
      </div></mat-grid-tile
    >
    <mat-grid-tile
      *ngFor="let prevMonthDay of prevMonthDays; let i = index"
      colspan="1"
      rowspan="2"
    >
      <div
        class="calendar-agenda--tile calendar-agenda--tile-other flex flex-justify-center flex-align-center"
      >
        {{ prevMonthDay }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let monthDay of monthDays; let i = index"
      colspan="1"
      rowspan="2"
    >
      <div
        [ngClass]="{
          'calendar-agenda--tile-active':
            monthDay === date &&
            currentYear === yearMonth.year &&
            currentMonth === yearMonth.month
        }"
        (click)="openCalendarDay(i)"
        class="calendar-agenda--tile flex flex-justify-center flex-align-center hover-primary margin-bottom-2 width-100"
      >
        {{ monthDay }}
        <div
          [ngClass]="{
            'calendar-agenda--tile-overlay':
              activeAppointmentDays.indexOf(monthDay) > -1
          }"
          class="font-size-12"
        >
          {{
            activeAppointmentPreviews[findIndex(monthDay)]?.appointments?.length
          }}
        </div>
        <!-- <ng-container *ngIf="findIndex(monthDay) > -1">
          <div
            *ngFor="
              let title of activeAppointmentPreviews[findIndex(monthDay)]
                .appointments;
              let i = index
            "
            [ngClass]="{
              'calendar-agenda--tile-overlay': i < 5
            }"
          ></div>
        </ng-container> -->
      </div>
      <div
        *ngIf="findIndex(monthDay) > -1"
        class="calendar-agenda--tile-preview border-radius-8 font-size-12 padding-4 text-overflow-ellipsis"
      >
        {{ activeAppointmentPreviews[findIndex(monthDay)].appointments[0] }}
      </div>
      <!-- <div
        *ngIf="findIndex(monthDay) > -1"
        class="calendar-agenda--tile-appointments flex flex-row flex-justify-center flex-wrap width-100"
      >
        <div
          *ngFor="
            let title of activeAppointmentPreviews[findIndex(monthDay)]
              .appointments;
            let i = index
          "
          [ngClass]="{
            'margin-right-2':
              i <
              activeAppointmentPreviews[findIndex(monthDay)].appointments
                .length -
                1,
            'margin-bottom-2':
              i <
              activeAppointmentPreviews[findIndex(monthDay)].appointments
                .length -
                1
          }"
          class="calendar-agenda--tile-preview border-radius-4 font-size-12 padding-2"
        >
          <div
            *ngIf="
              i <
              activeAppointmentPreviews[findIndex(monthDay)].appointments.length
            "
            class="text-overflow-ellipsis width-100"
          >
            {{ title }}
          </div>
        </div>
      </div> -->
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let nextMonthDay of nextMonthDays; let i = index"
      colspan="1"
      rowspan="2"
      class="calendar-agenda--tile-other"
    >
      {{ nextMonthDay }}
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-calendar-day
  *ngIf="activeDate"
  [activeDate]="activeDate"
  [appointments]="appointments"
  (closeCalendarDay)="onCloseCalendarDay($event)"
  class="calendar-agenda--day border-radius-16 z-index-10"
></app-calendar-day>
