@import '../../../global.scss';

@for $i from 0 through 5 {
  .calendar-agenda {
    &--tile {
      &-overlay {
        &:nth-child(#{$i}) {
          // &:before {
          right: #{$i * 6px - 6px};
          // }
        }
      }
    }
  }
}

::ng-deep .mat-grid-tile .mag-figure .calendar-agenda--title {
  display: flex !important;
  align-items: center !important;
}

::ng-deep .mat-grid-tile .mat-figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  text-overflow: clip;
}

.calendar-agenda {
  &--day {
    position: fixed;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-height: calc(100% - 64px);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
  &--tile {
    position: relative;
    width: 32px;
    min-height: 32px !important;
    &:hover:before {
      width: 50%;
    }
    &:before {
      @include transition(width, 0.15s, ease-in-out);
      content: '';
      left: 0%;
      bottom: 0px;
      width: 0%;
      height: 4px;
      position: absolute;
      border-bottom: 4px solid $color-primary;
    }
    &-active {
      color: $color-primary;
      font-weight: bold;
      // color: white;
      // background-color: $color-primary;
      // border-radius: 12px;
    }
    &-appointments {
      overflow-y: hidden;
      // white-space: wrap;
      // height: calc(100% - 34px);
    }
    &-preview {
      display: none;
    }
    &-other {
      color: #00000050;
    }
    &-overlay {
      position: absolute;
      color: $color-primary;
      top: 0px;
      // background-color: $color-primary;
      // width: 4px;
      // height: 4px;
      // border-radius: 4px;
    }
  }
  &--title {
    width: 32px;
    height: 40px;
    color: #777777;
  }
}

@media (min-width: $md) {
  .calendar-agenda {
    &--day {
      width: 480px;
    }
    &--tile {
      &-active {
        border-radius: 16px;
      }
      &-preview {
        display: block;
        max-width: calc(100% - 16px);
        color: white;
        background-color: $color-primary;
      }
      &-overlay {
        // visibility: hidden;
      }
    }
  }
}
