<div class="padding-16">
  <mat-grid-list cols="7" rowHeight="75px">
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Mo</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Di</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Mi</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Do</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Fr</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >Sa</mat-grid-tile
    >
    <mat-grid-tile colspan="1" rowspan="1" class="calendar-agenda--title"
      >So</mat-grid-tile
    >
    <mat-grid-tile
      *ngFor="let prevMonthDay of prevMonthDays; let i = index"
      colspan="1"
      rowspan="1"
      class="calendar-agenda--tile-other"
    >
      {{ prevMonthDay }}
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let monthDay of monthDays; let i = index"
      colspan="1"
      rowspan="1"
    >
      <div
        [ngClass]="{
          'calendar-agenda--tile-active':
            monthDay === date &&
            currentYear === yearMonth.year &&
            currentMonth === yearMonth.month
        }"
        (click)="openCalendarDay(i)"
        class="calendar-agenda--tile flex flex-justify-center flex-align-center hover-primary width-100"
      >
        {{ monthDay }}
        <div
          [ngClass]="{
            'calendar-agenda--tile-overlay':
              activeAppointmentDays.indexOf(monthDay) > -1
          }"
        ></div>
      </div>
      <!-- <div
        *ngIf="
          monthDay === date &&
          currentYear === yearMonth.year &&
          currentMonth === yearMonth.month
        "
      >
        test 1
      </div>
      <div
        *ngIf="
          monthDay === date &&
          currentYear === yearMonth.year &&
          currentMonth === yearMonth.month
        "
      >
        test 2
      </div> -->
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let nextMonthDay of nextMonthDays; let i = index"
      colspan="1"
      rowspan="1"
      class="calendar-agenda--tile-other"
    >
      {{ nextMonthDay }}
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-calendar-day
  *ngIf="activeDate"
  [activeDate]="activeDate"
  [appointments]="appointments"
  (closeCalendarDay)="onCloseCalendarDay($event)"
  class="calendar-agenda--day border-radius-16 z-index-10"
></app-calendar-day>
