<div class="margin-16">
  <mat-grid-list cols="7" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let day of dayStrings" colspan="1" rowspan="1"
      ><div class="flex flex-align-center height-100 color-primary">
        <b>{{ day }}</b>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      *ngFor="let prevMonthDay of prevMonthDays; let i = index"
      colspan="1"
      rowspan="2"
    >
      <div
        class="calendar-agenda--tile-other flex flex-justify-center flex-align-center"
      >
        {{ prevMonthDay }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let monthDay of getMonthLength(activeMonthLength); let i = index"
      colspan="1"
      rowspan="2"
    >
      <div
        [ngClass]="{
          'color-primary font-size-18':
            i + 1 === currentDay &&
            activeMonth === currentMonth &&
            activeYear === currentYear
        }"
        (click)="openCalendarDay(i + 1)"
        class="calendar-agenda--tile calendar-agenda--active flex flex-justify-center flex-align-center hover-primary margin-bottom-2 width-100"
      >
        <b>{{ i + 1 }}</b>
        <div
          *ngIf="getActiveDayAppointmentLength(i + 1) > 0"
          class="calendar-agenda--tile-overlay font-size-12"
        >
          {{ getActiveDayAppointmentLength(i + 1) }}
        </div>
      </div>
      <div
        *ngIf="getActiveDayAppointmentTitle(i + 1)"
        class="calendar-agenda--tile-preview border-radius-8 font-size-12 padding-4 text-overflow-ellipsis"
      >
        {{ getActiveDayAppointmentTitle(i + 1) }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="
        let nextMonthDay of getMonthLength(nextMonthLength);
        let i = index
      "
      colspan="1"
      rowspan="2"
    >
      <div
        class="calendar-agenda--tile-other flex flex-justify-center flex-align-center"
      >
        {{ i + 1 }}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-calendar-day
  *ngIf="activeDate"
  [activeDate]="activeDate"
  [appointments]="appointments"
  (closeCalendarDay)="onCloseCalendarDay()"
  class="calendar-agenda--day z-index-10"
></app-calendar-day>
