@import '../../../global.scss';

::ng-deep .mat-grid-tile .mat-figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}

// body {
//   height: calc(100% - 56px) !important;
// }

.calendar-agenda {
  position: relative;
  &--year {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    &-month {
      padding: 0px 8px;
      height: 32px;
      &--selected {
        color: white;
        background-color: $color-primary;
      }
    }
  }
  &--day {
    position: fixed;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-height: calc(100% - 64px);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
  &--tile {
    position: relative;
    width: 40px;
    min-height: 32px !important;
    &:hover:before {
      width: 50%;
    }
    &:before {
      @include transition(width, 0.15s, ease-in-out);
      content: '';
      left: 0%;
      bottom: 0px;
      width: 0%;
      height: 4px;
      position: absolute;
      border-bottom: 4px solid $color-primary;
    }
    &-header {
      height: 100%;
    }
    &-preview {
      display: none;
    }
    &-other {
      width: 40px;
      min-height: 32px !important;
      color: #00000050;
    }
    &-overlay {
      position: absolute;
      color: $color-primary;
      top: 0px;
      right: 0px;
    }
  }
}

@media (min-width: $md) {
  ::ng-deep .calendar-agenda--mat-grid-tile .mat-figure {
    align-items: flex-end !important;
    justify-content: flex-start !important;
  }

  .calendar-agenda {
    &--day {
      width: 480px;
    }
    &--mat-grid-tile {
      border: 1px solid #fafafa;
      &-title {
        border: 1px solid #fafafa;
        background-color: #fafafa;
      }
    }
    &--tile {
      margin-right: 8px;
      &-other {
        margin-right: 8px;
      }
      &-preview {
        background-color: $color-primary-light;
        border-radius: 2px 0px 0px 2px;
        color: $color-primary;
        display: block;
        height: 100%;
        position: relative;
        width: calc(100% - 8px);
        &--overlay {
          height: 100%;
          left: 0px;
          position: absolute;
          top: 0px;
          width: 4px;
          background-color: $color-primary;
          border-radius: 4px;
        }
      }
    }
  }
}
